In [1]:
import pandas as pd 
import re
pathmoe = '/hdd3/sonia/be_great/ckpts/moe/dgpt2/adult-allcol/jul17/samples'
pathoh = '/hdd3/sonia/be_great/ckpts/dgpt2/adult-allcol/samples'
pathreal = '/hdd3/sonia/data/adult.csv'
path = pathmoe

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income

In [31]:
patternmoe = f'\<\|endoftext\|\>age is (.+)\.<EOS>workclass is (.+)\.<EOS>fnlwgt is (\d+)\.<EOS>education is (.+)\.<EOS>' +\
             f'education-num is (\d+)\.<EOS>marital-status is (.+)\.<EOS>occupation is (.+)\.<EOS>relationship is (.+)\.<EOS>' +\
             f'race is (.+)\.<EOS>sex is (.+)\.<EOS>capital-gain is (.+)\.<EOS>capital-loss is (.+)\.<EOS>' +\
             f'hours-per-week is (\?|\d+)\.<EOS>native-country is ([-\w]+)\.<EOS>income is (.{4,5})\.<EOS>.?'
# patternoh = f'\<\|endoftext\|\>age is (\d+)\.<EOS> workclass is (\w+)\.<EOS> fnlwgt is (\d+).+<EOS> income is (.+)\.<EOS>'
pattern = patternmoe

In [32]:
with open(path+'.txt', 'r') as f:
    raws = f.readlines()

parsed = []
for raw in raws:
    vals = re.findall(pattern, raw)
    if len(vals) == 1:
        parsed.append(vals[0])
len(parsed)

3994

In [33]:
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship',
        'race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
df = pd.DataFrame(parsed, columns=cols)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,23,Private,89942,11th,7,Never-married,Farming-fishing,Unmarried,White,Male,0,0,45,United-States,<=50K.<EOS>income is <=50K.<EOS>native-country...
1,27,Private,119094,Some-college,10,Never-married,Exec-managerial,Private,White,Female,0,0,40,United-States,<=50K.<EOS>income is <=50K.<EOS>native-country...
2,23,Private,163053,7th-8th,4,Separated,Other-service,Unmarried,White,Female,0,0,30,United-States,<=50K.<EOS>income is <=50K.<EOS>income is <=50...
3,24,Private,142069,Assoc-acdm,12,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K.<EOS>income <=50K.<EOS>income is <=50K.<...
4,26,Private,132866,Some-college,10,Divorced,Sales,Not-in-family,White,Female,0,0,60,United-States,<=50K.<EOS>income is <=50K.<EOS>income is <=50...

In [5]:
real = pd.read_csv(pathreal)
real = real[df.columns]
ords = ['workclass', 'income']
ordvals = {col:set(real[col].unique()) for col in ords}
for col in ordvals:
    ordvals[col] = [val.strip() for val in ordvals[col]]
ordvals

{'workclass': ['Federal-gov',
  '?',
  'Self-emp-inc',
  'Local-gov',
  'Private',
  'Without-pay',
  'State-gov',
  'Never-worked',
  'Self-emp-not-inc'],
 'income': ['<=50K', '>50K']}

In [6]:
df=df[df['workclass'].isin(ordvals['workclass']) & df['income'].isin(ordvals['income'])]
df.head()

  age workclass    fnlwgt income
0  50   Private   4781887  <=50K
1  44   Private  17126743  <=50K
2  30   Private        40  <=50K
3  32   Private      2538  <=50K
4  38   Private     45624  <=50K

In [7]:
df.to_csv(path+'.csv', index=False)

In [9]:
len(dfmsub)

NameError: name 'dfmsub' is not defined